@font-face {
  font-family: 'Varela Round';
  src: url("../fonts/VarelaRound/VarelaRound-Regular.ttf");
}

.root {
  -fx-font-family: 'Varela Round', sans-serif;
  -fx-font-size: 16px;
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
}

.root .pane {
  -fx-alignment: center;
  -fx-border-color: black;
  -fx-border-width: 1px;
  -fx-border-style: solid;
  -fx-padding: 20;
  -fx-spacing: 8;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  padding: 20px;
}

.root .header {
  -fx-max-width: infinity;
  -fx-text-alignment: center;
  -fx-alignment: center;
  -fx-font-size: 1.5em;
  max-width: 100%;
  font-size: 1.5em;
}

.root .toggle-container {
  -fx-spacing: 10px;
}

.root .left-panel {
  -fx-min-width: 200px;
  -fx-vgap: 10px;
  -fx-alignment: center;
  min-width: 200px;
}

.root .main-panel {
  -fx-max-width: infinity;
  -fx-max-height: infinity;
  -fx-align: center;
  -fx-padding: 0;
  max-width: 100%;
  max-height: 100%;
  padding: 0;
}

.root .graph-line {
  -fx-fill: none;
  -fx-stroke-width: 2px;
  -fx-stroke: red;
  fill: none;
  stroke-width: 2px;
  stroke: black;
}

.root .graph-axis {
  -fx-border-width: 1.5px;
  -fx-border-style: solid;
  border-width: 1.5px;
  border-style: solid;
  -fx-tick-label-fill: black;
  -fx-tick-mark-visible: false;
}

.root .graph-axis.horizontal {
  -fx-border-color: black transparent transparent transparent;
  border-color: black;
}

.root .graph-axis.vertical {
  -fx-border-color: transparent black transparent transparent;
  border-color: black;
}

.root .graph-grid {
  -fx-stroke: rgba(0, 0, 0, 0.2);
  stroke: rgba(0, 0, 0, 0.2);
}

.root .graph-grid > * {
  -fx-stroke: rgba(0, 0, 0, 0.2);
  stroke: rgba(0, 0, 0, 0.2);
}

.root .toggle-switch .background.on {
  -fx-fill: lime;
  fill: lime;
}

.root.light-theme {
  -fx-text-fill: #191919;
  -fx-background: #f2f2f2;
  color: #191919;
  background: #f2f2f2;
}

.root.light-theme .pane {
  -fx-border-color: #191919;
  border-color: #191919;
  -fx-backround-color: #f2f2f2;
}

.root.light-theme .header > * {
  -fx-stroke: #191919;
  stroke: #191919;
}

.root.light-theme .left-panel {
  -fx-min-width: 200px;
  -fx-vgap: 10px;
  -fx-alignment: center;
  min-width: 200px;
}

.root.light-theme .main-panel {
  -fx-max-width: infinity;
  -fx-max-height: infinity;
  -fx-align: center;
  -fx-padding: 0;
  max-width: 100%;
  max-height: 100%;
  padding: 0;
}

.root.light-theme .graph-line {
  -fx-stroke: red;
  stroke: #191919;
}

.root.light-theme .graph-axis {
  -fx-tick-label-fill: #191919;
}

.root.light-theme .graph-axis.horizontal {
  -fx-border-color: #191919 transparent transparent transparent;
  border-color: #191919;
}

.root.light-theme .graph-axis.vertical {
  -fx-border-color: transparent #191919 transparent transparent;
  border-color: #191919;
}

.root.light-theme .graph-grid {
  -fx-stroke: rgba(25, 25, 25, 0.2);
  stroke: rgba(25, 25, 25, 0.2);
}

.root.light-theme .graph-grid > * {
  -fx-stroke: rgba(25, 25, 25, 0.2);
  stroke: rgba(25, 25, 25, 0.2);
}

.root.light-theme .toggle-switch .background {
  -fx-fill: #bfbfbf;
  -fx-stroke: #bfbfbf;
  fill: #f2f2f2;
  stroke: #bfbfbf;
}

.root.light-theme .toggle-switch .background.on {
  -fx-fill: lime;
  fill: lime;
}

.root.light-theme .toggle-switch .trigger {
  -fx-fill: #f2f2f2;
  -fx-stroke: #bfbfbf;
  fill: #f2f2f2;
  stroke: #bfbfbf;
}

.root.dark-theme {
  -fx-text-fill: #f2f2f2;
  -fx-background: #191919;
  color: #f2f2f2;
  background: #191919;
}

.root.dark-theme .pane {
  -fx-border-color: #f2f2f2;
  border-color: #f2f2f2;
}

.root.dark-theme .header > * {
  -fx-stroke: #f2f2f2;
  stroke: #f2f2f2;
}

.root.dark-theme .left-panel {
  -fx-min-width: 200px;
  -fx-vgap: 10px;
  -fx-alignment: center;
  min-width: 200px;
}

.root.dark-theme .main-panel {
  -fx-max-width: infinity;
  -fx-max-height: infinity;
  -fx-align: center;
  -fx-padding: 0;
  max-width: 100%;
  max-height: 100%;
  padding: 0;
}

.root.dark-theme .graph-line {
  -fx-stroke: blue;
  stroke: #f2f2f2;
}

.root.dark-theme .graph-axis {
  -fx-tick-label-fill: #f2f2f2;
}

.root.dark-theme .graph-axis.horizontal {
  -fx-border-color: #f2f2f2 transparent transparent transparent;
  border-color: #f2f2f2;
}

.root.dark-theme .graph-axis.vertical {
  -fx-border-color: transparent #f2f2f2 transparent transparent;
  border-color: #f2f2f2;
}

.root.dark-theme .graph-grid {
  -fx-stroke: rgba(242, 242, 242, 0.2);
  stroke: rgba(242, 242, 242, 0.2);
}

.root.dark-theme .graph-grid > * {
  -fx-stroke: rgba(242, 242, 242, 0.2);
  stroke: rgba(242, 242, 242, 0.2);
}

.root.dark-theme .toggle-switch .background {
  -fx-fill: #191919;
  -fx-stroke: #404040;
  fill: #191919;
  stroke: #404040;
}

.root.dark-theme .toggle-switch .background.on {
  -fx-fill: lime;
  fill: lime;
}

.root.dark-theme .toggle-switch .trigger {
  -fx-fill: #191919;
  -fx-stroke: #404040;
  fill: #191919;
  stroke: #404040;
}
