.root{
    -fx-font-size: 16px;
    font-size: 16px;
}

.pane{
    -fx-alignment: center;

    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-padding: 20;
    -fx-spacing: 8;

    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 20px;
}

.header{
    -fx-max-width: infinity;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;

    max-width: 100%;
    font-size: 1.5em;
    font-weight: bold;
}

.left-panel{
    -fx-min-width: 200px;
    -fx-vgap: 10px;
    -fx-alignment: center;

    min-width: 200px;
}

.main-panel{
    -fx-max-width: infinity;
    -fx-max-height: infinity;
    -fx-align: center;
    -fx-padding: 0;

    max-width: 100%;
    max-height: 100%;
    padding: 0;
}

.graph-line{
    -fx-fill: none;
    -fx-stroke-width: 2px;
    -fx-stroke: red;

    fill: none;
    stroke-width: 2px;
    stroke: black;
}

.graph-axis{
    -fx-border-width: 1.5px;
    -fx-border-style: solid;

    border-width: 1.5px;
    border-style: solid;

    &.horizontal{
        -fx-border-color: black transparent transparent transparent;
        border-color: black;
    }

    &.vertical{
        -fx-border-color: transparent black transparent transparent;
        border-color: black;
    }
}


.graph-grid{
    -fx-stroke: rgba(black, 0.2);
    stroke: rgba(black, 0.2);

    &>*{
        -fx-stroke: rgba(black, 0.2);
        stroke: rgba(black, 0.2);
    }
}