.root {
  -fx-font-size: 16px;
}

.pane {
  -fx-alignment: center;
  -fx-border-color: black;
  -fx-border-style: solid;
  -fx-border-width: 1px;
}

.header {
  -fx-max-width: infinity;
  -fx-text-alignment: center;
  -fx-alignment: center;
}

.left-panel {
  -fx-min-width: 200px;
  -fx-vgap: 10px;
  -fx-alignment: center;
}
